Repository Coastal-Programs/supabase-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: area: commands, area: database, area: projects, area: backup, area: security, area: functions, area: ci/cd, area: build, area: core, area: tests, area: docs, area: config, dependencies

docs: Add logo to README
  README.md
Labels: area: docs

docs: Replace logo with ASCII art header
  README.md
Labels: area: docs

docs: Center logo and use green animated text
  README.md
Labels: area: docs

docs: Restore ASCII art in green and centered
  README.md
Labels: area: docs

docs: Center ASCII art properly and restore codecov badge
  README.md
Labels: area: docs

fix(security): Address all 6 CodeQL security warnings
  README.md
  bin/run
  src/apis/gotrue-api.ts
  src/auth.ts
  src/commands/backup/get.ts
  src/commands/db/connections.ts
  src/commands/db/info.ts
  src/commands/db/policies.ts
  src/commands/db/schemas.ts
  src/commands/db/table-sizes.ts
  src/commands/db/user-info.ts
  src/commands/functions/deploy.ts
  src/commands/functions/invoke.ts
  src/commands/functions/list.ts
  src/commands/projects/create.ts
  src/commands/projects/delete.ts
  src/commands/projects/list.ts
  src/commands/projects/pause.ts
  src/commands/projects/restore.ts
  src/error-messages.ts
  src/errors.ts
  src/utils/formatters.ts
  src/utils/sql-queries.ts
  src/utils/validation.ts
  test/commands/projects/create.test.ts
  test/utils/validation.test.ts
Labels: area: commands, area: database, area: projects, area: backup, area: functions, area: build, area: core, area: tests, area: docs

feat(config): Add interactive token prompt to config:init
  src/commands/config/init.ts
Labels: area: commands, area: docs

refactor(ci): Simplify CI workflow to match Notion CLI pattern
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
Labels: area: ci/cd, area: build, area: docs, area: config, dependencies

Add Claude Code GitHub Workflow (#18)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: area: ci/cd, area: docs

fix(ci): Switch to macOS-latest for all jobs
  .github/workflows/ci.yml
Labels: area: ci/cd, area: docs

feat(config): Redesign config:init wizard to match Notion CLI style
  src/auth.ts
  src/commands/config/doctor.ts
  src/commands/config/init.ts
  src/helper.ts
  src/utils/formatters.ts
Labels: area: commands, area: docs

fix: critical SQL query system bug + implement Phase 2B commands
  .claude/settings.local.json
  .serena/.gitignore
  BACKUP_COMMANDS_REFERENCE.md
  BACKUP_COMMANDS_TEST_REPORT.md
  BUG_FIX_SUMMARY.md
  TESTING_INSTRUCTIONS.md
  TEST_EXECUTION_SUMMARY.txt
  package-lock.json
  package.json
  src/commands/backup/delete.ts
  src/commands/backup/pitr/restore.ts
  src/commands/backup/restore.ts
  src/commands/backup/schedule/create.ts
  src/commands/branches/list.ts
  src/commands/config/doctor.ts
  src/commands/config/init.ts
  src/commands/security/policies/list.ts
  src/commands/security/restrictions/add.ts
  src/commands/security/restrictions/list.ts
  src/commands/security/restrictions/remove.ts
  src/error-messages.ts
  src/errors.ts
  src/helper.ts
  src/supabase.ts
  src/utils/parsing.ts
  src/utils/platform.ts
  test-stress.sh
  test/auth.test.ts
  test/branch-coverage.test.ts
  test/commands-db-migrations.test.ts
  test/supabase.test.ts
  test/utils/formatters.test.ts
  test/utils/sql-queries.test.ts
Labels: area: commands, area: backup, area: security, area: build, area: core, area: tests, area: docs, dependencies

fix: correct backup API endpoints - add missing /database path
  src/supabase.ts
Labels: area: core, area: docs

test: add comprehensive command test suite
  test-all-commands.sh
Labels: area: docs

docs: add comprehensive stress test final report
  STRESS_TEST_FINAL_REPORT.md
Labels: area: docs

fix: security fixes, API cleanup, and TypeScript improvements
  CLAUDE.md
  RACE_CONDITION_FIXES_DETAILS.md
  RACE_CONDITION_FIXES_SUMMARY.md
  RACE_CONDITION_FIX_SUMMARY.txt
  README.md
  SECURITY_ALTERNATIVE_IMPLEMENTATION.md
  SECURITY_COMMANDS_QUICK_REF.md
  SECURITY_COMMANDS_REMOVAL_GUIDE.md
  SECURITY_COMMANDS_RESEARCH.md
  SECURITY_COMMANDS_STATUS.txt
  SECURITY_COMMANDS_SUMMARY.md
  SECURITY_FIXES_COMPLETION_REPORT.md
  SECURITY_FIX_AUTH_NETWORK_REQUEST.md
  SECURITY_FIX_SUMMARY.txt
  src/auth.ts
  src/commands/backup/create.ts
  src/commands/backup/delete.ts
  src/commands/backup/get.ts
  src/commands/backup/restore.ts
  src/commands/backup/schedule/create.ts
  src/commands/backup/schedule/list.ts
  src/commands/config/init.ts
  src/commands/db/info.ts
  src/commands/migrations/apply.ts
  src/commands/projects/create.ts
  src/commands/security/audit.ts
  src/commands/security/policies/list.ts
  src/commands/security/restrictions/add.ts
  src/commands/security/restrictions/list.ts
  src/commands/security/restrictions/remove.ts
  src/commands/storage/buckets/list.ts
  src/commands/storage/policies/list.ts
  src/error-messages.ts
  src/supabase.ts
  test/auth-race-condition-fixes.test.ts
  test/commands-db-info.test.ts
  test/commands/projects/create.test.ts
Labels: area: commands, area: database, area: projects, area: backup, area: security, area: core, area: tests, area: docs

fix: resolve API endpoint issues and implement SQL-based queries
  README.md
  TEST_REPORT_FINAL.md
  docs/STORAGE_AUTHENTICATION_LIMITATION.md
  src/commands/storage/buckets/create.ts
  src/commands/storage/buckets/delete.ts
  src/commands/storage/buckets/get.ts
  src/commands/storage/buckets/list.ts
  src/commands/storage/policies/list.ts
  src/commands/storage/policies/set.ts
  src/supabase.ts
  src/utils/sql-queries.ts
Labels: area: commands, area: core, area: docs

docs: fix README centering to align only ASCII art and badges
  README.md
Labels: area: docs

.github/labeler.yml:

# Automatically label PRs based on changed files

# Commands
'area: commands':
  - 'src/commands/**/*'

'area: database':
  - 'src/commands/db/**/*'

'area: projects':
  - 'src/commands/projects/**/*'

'area: backup':
  - 'src/commands/backup/**/*'

'area: security':
  - 'src/commands/security/**/*'

'area: functions':
  - 'src/commands/functions/**/*'

# Infrastructure
'area: ci/cd':
  - '.github/**/*'

'area: build':
  - 'package.json'
  - 'package-lock.json'
  - 'tsconfig*.json'
  - 'bin/**/*'

# Core
'area: core':
  - 'src/supabase.ts'
  - 'src/cache.ts'
  - 'src/retry.ts'
  - 'src/errors.ts'
  - 'src/envelope.ts'
  - 'src/base-command.ts'

# Testing
'area: tests':
  - 'test/**/*'

# Documentation
'area: docs':
  - 'docs/**/*'
  - '*.md'
  - '!CHANGELOG.md'

# Configuration
'area: config':
  - '*.config.js'
  - '*.config.ts'
  - '.eslintrc.json'
  - '.prettierrc.json'
  - '.npmignore'
  - '.gitignore'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'
